.frontend {
    text-align: center;
    align-items: center;
  }

  .frontend-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  .frontend-header {
    display: flex;
    background-image: linear-gradient(rgb(2, 65, 124), rgb(9, 227, 238));
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    font-size: calc(10px + 2vmin);
    color: white;
    height: auto;
    margin: 0 auto;
    padding: 1px;
    position: relative;
  }

.frontend-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.frontend-api{
    display: flex;
    flex-direction:row;
    align-items: center;
}

.frontend-item{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  min-width: 35%;
  height: 21rem;
  margin: 10px;
  background-image: linear-gradient(rgb(0, 132, 255), rgb(255, 255, 255));
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 0.9rem;
  color: rgb(16, 16, 16);
  transition-duration: 0.4s;
  text-decoration: none;
}

.frontend-item:hover{
    display: flex;
    transform: scale(1.01);
    color:rgb(6, 81, 221);
}

.frontend-img{
  display: flex;
  margin-top: 10px;
  border-radius: 50px;
  width: 15rem;
  height: 15rem;
}

.plus{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 5rem;
    color: rgb(16, 16, 16);
}
.input{
    opacity: 0.0; 
    position: absolute; top: 0; left: 0; bottom: 0; right: 0; 
}