.Index {
    text-align: center;
  }

  .Index-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  .Index-header {
    position: relative;
    display:flex;
    background-image: linear-gradient(rgb(2, 65, 124), rgb(9, 227, 238));
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-evenly; */
    font-size: calc(10px + 2vmin);
    color: white;
    height: auto;
    margin: 0 auto;
  }

.options-container{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.options-item{
    display: flex;
    flex-direction:column;
    align-items: center;
    min-width: 30%;
    background-image: linear-gradient(rgb(2, 65, 124), rgb(10, 140, 147));
    margin: 10px;
    border-radius: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.9rem;
    transition-duration: 0.4s;
    text-decoration: none;
}

.options-item:hover{
    display: flex;
    transform: scale(1.03);
    color:rgb(6, 81, 221);
}

.options-img{
  display: flex;
  margin-top: 10px;
  width: 12rem;
  height: 12rem;
  filter: saturate(500%) contrast(800%) brightness(500%) 
      invert(100%) sepia(50%) hue-rotate(120deg); 
}

.options-font{
  color: white;
}

.input{
    opacity: 0.0; 
    position: absolute; top: 0; left: 0; bottom: 0; right: 0; 
}


