.backend {
    text-align: center;
    align-items: center;
  }

  .backend-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  .backend-header {
    display: flex;
    background-image: linear-gradient(rgb(2, 65, 124), rgb(9, 227, 238));
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    font-size: calc(10px + 2vmin);
    color: white;
    height: auto;
    margin: 0 auto;
    padding: 1px;
    position: relative;
  }

  .lambda-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .link-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .lambdas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    transition-duration: 0.4s;
  }
  .lambdas:hover{
    transform: scale(1.03);
  }

  .lambdas-font{
    font-size: 0.9rem;
  }
.backend-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.backend-api{
    display: flex;
    flex-direction:row;
    align-items: center;
}

.backend-item{
    display: flex;
    flex-direction:column;
    align-items: center;
    border-radius: 20px;
    min-width: 30%;
    background-color: transparent;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.9rem;
    color: rgb(16, 16, 16);
    transition-duration: 0.4s;
    text-decoration: none;
}

.backend-item:hover{
    display: flex;
    transform: scale(1.03);
    color:rgb(6, 81, 221);
}

.backend-img{
  display: flex;
  margin-top: 10px;
  border-radius: 50px;
  width: 15rem;
  height: 15rem;
}

.plus{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 5rem;
    color: rgb(16, 16, 16);
}
.input{
    opacity: 0.0; 
    position: absolute; top: 0; left: 0; bottom: 0; right: 0; 
}