.Resources {
    text-align: center;
  }

  .Resources-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  .Resources-header {
    background-image: linear-gradient(rgb(2, 65, 124), rgb(9, 227, 238));
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    height: auto;
    margin: 0 auto;
    padding: 1px;
    position: relative;
  }

.resources-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.resources-item{
    display: flex;
    flex-direction:column;
    align-items: center;
    border-radius: 20px;
    min-width: 30%;
    background-color: transparent;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.1rem;
    color: rgb(16, 16, 16);
    transition-duration: 0.4s;
    text-decoration: none;
}

.resources-item:hover{
    display: flex;
    transform: scale(1.03);
    color:rgb(6, 81, 221);
}

.resources-img{
  display: flex;
  margin-top: 10px;
  border-radius: 50px;
  width: 9rem;
  height: 9rem;
}

.input{
    opacity: 0.0; 
    position: absolute; top: 0; left: 0; bottom: 0; right: 0; 
}


